:root {
  /* font size */
  --lrg-fs: 3em;
  --med-fs: 2em;
  --sml-fs: 1em;

  /* Color */
  --border: rgb(5, 5, 5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

main#etch-body {
  flex-grow: 1;
  width: 100%;
  justify-content: space-around;
}

div#canvas {
  height: 500px;
  width: 500px;
  border: 3px solid var(--border);
  display: flex;
  flex-flow: column wrap;
}

div.canvas-tiles {
  border: 0.5px solid rgb(146, 146, 146);
  background-color: rgb(255, 255, 255);
}

div.canvas-tiles:hover {
  background-color: rgb(231, 227, 227);
}
