:root {
  /* font size */
  --lrg-fs: 3em;
  --med-fs: 2em;
  --sml-fs: 1em;

  /* Color */
  --color-1: #222831;
  --color-2: #393e46;
  --color-3: #00c9d3;
  --color-4: #eeeeee;
  --hover-color: rgb(206, 206, 206);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-4);
}

body {
  min-height: 100dvh;
  background-color: var(--color-4);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

main#etch-body {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  gap: 100px;
}

#etch-header,
#etch-footer {
  padding: 10px;
  background-color: var(--color-1);
  width: 100%;
}

#etch-header > h1 {
  font-size: var(--med-fs);
}

#etch-footer > h3 {
  font-size: var(--sml-fs);
  font-weight: bold;
}

#etch-menu-container {
  padding: 20px;
  border: 4px solid var(--color-1);
  border-radius: 10px;
  background-color: var(--color-1);
  height: 400px;
}

div.menu-item {
  width: 140px;
  height: 100%;
  gap: 10px;
}

.menu-item > label {
  font-weight: bold;
  font-size: var(--sml-fs);
}

#color-wrapper {
  border: 1px solid var(--color-4);
  background-color: var(--color-4);
  border-radius: 10px;
  padding: 0px 2px;
}

input#color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input#color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}
input#color-picker::-moz-color-swatch {
  border: none;
  border-radius: 5px;
}

input#canvas-size {
  -webkit-appearance: none;
  height: 10px;
  background: transparent;
  border: 2px solid var(--color-4);
  border-radius: 20px;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}

input#canvas-size:hover {
  opacity: 1;
}

input#canvas-size::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--color-3);
  cursor: pointer;
  border-radius: 100%;
}

input#canvas-size::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--color-3);
  cursor: pointer;
  border-radius: 100%;
}

input.check-box {
  visibility: hidden;
  opacity: 0;
}

input.check-box + label {
  background-color: var(--color-1);
  border: 2px solid var(--color-4);
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.3s ease;
  font-weight: bold;
  width: 135px;
}

input.check-box + label:hover {
  color: var(--color-2);
  background-color: var(--color-4);
  border: 2px solid var(--color-4);
}

input.check-box:checked + label {
  color: var(--color-1);
  background-color: var(--color-3);
  border: 2px solid var(--color-3);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 2px solid var(--color-4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

#toggle-grid:checked + .slider {
  background-color: var(--color-3);
  border: 2px solid var(--color-3);
}

#toggle-grid:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#toggle-grid:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: var(--color-1);
}

#etch-canvas-container {
  border: 10px solid var(--color-1);
  border-radius: 1%;
  height: 100%;
}

div#canvas {
  height: 500px;
  width: 500px;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--color-1);
}

div.canvas-tile {
  background-color: var(--color-4);
}

div.canvas-tile:hover {
  background-color: var(--hover-color);
}

.grid-line {
  border: 1px solid var(--color-1);
}

/* canvas size from 1x1 to 64x64 */
.canvas-size-1x1 {
  flex: 1 1 calc(100% / 1);
}
.canvas-size-2x2 {
  flex: 1 1 calc(100% / 2);
}
.canvas-size-3x3 {
  flex: 1 1 calc(100% / 3);
}
.canvas-size-4x4 {
  flex: 1 1 calc(100% / 4);
}
.canvas-size-5x5 {
  flex: 1 1 calc(100% / 5);
}
.canvas-size-6x6 {
  flex: 1 1 calc(100% / 6);
}
.canvas-size-7x7 {
  flex: 1 1 calc(100% / 7);
}
.canvas-size-8x8 {
  flex: 1 1 calc(100% / 8);
}
.canvas-size-9x9 {
  flex: 1 1 calc(100% / 9);
}
.canvas-size-10x10 {
  flex: 1 1 calc(100% / 10);
}
.canvas-size-11x11 {
  flex: 1 1 calc(100% / 11);
}
.canvas-size-12x12 {
  flex: 1 1 calc(100% / 12);
}
.canvas-size-13x13 {
  flex: 1 1 calc(100% / 13);
}
.canvas-size-14x14 {
  flex: 1 1 calc(100% / 14);
}
.canvas-size-15x15 {
  flex: 1 1 calc(100% / 15);
}
.canvas-size-16x16 {
  flex: 1 1 calc(100% / 16);
}
.canvas-size-17x17 {
  flex: 1 1 calc(100% / 17);
}
.canvas-size-18x18 {
  flex: 1 1 calc(100% / 18);
}
.canvas-size-19x19 {
  flex: 1 1 calc(100% / 19);
}
.canvas-size-20x20 {
  flex: 1 1 calc(100% / 20);
}
.canvas-size-21x21 {
  flex: 1 1 calc(100% / 21);
}
.canvas-size-22x22 {
  flex: 1 1 calc(100% / 22);
}
.canvas-size-23x23 {
  flex: 1 1 calc(100% / 23);
}
.canvas-size-24x24 {
  flex: 1 1 calc(100% / 24);
}
.canvas-size-25x25 {
  flex: 1 1 calc(100% / 25);
}
.canvas-size-26x26 {
  flex: 1 1 calc(100% / 26);
}
.canvas-size-27x27 {
  flex: 1 1 calc(100% / 27);
}
.canvas-size-28x28 {
  flex: 1 1 calc(100% / 28);
}
.canvas-size-29x29 {
  flex: 1 1 calc(100% / 29);
}
.canvas-size-30x30 {
  flex: 1 1 calc(100% / 30);
}
.canvas-size-31x31 {
  flex: 1 1 calc(100% / 31);
}
.canvas-size-32x32 {
  flex: 1 1 calc(100% / 32);
}
.canvas-size-33x33 {
  flex: 1 1 calc(100% / 33);
}
.canvas-size-34x34 {
  flex: 1 1 calc(100% / 34);
}
.canvas-size-35x35 {
  flex: 1 1 calc(100% / 35);
}
.canvas-size-36x36 {
  flex: 1 1 calc(100% / 36);
}
.canvas-size-37x37 {
  flex: 1 1 calc(100% / 37);
}
.canvas-size-38x38 {
  flex: 1 1 calc(100% / 38);
}
.canvas-size-39x39 {
  flex: 1 1 calc(100% / 39);
}
.canvas-size-40x40 {
  flex: 1 1 calc(100% / 40);
}
.canvas-size-41x41 {
  flex: 1 1 calc(100% / 41);
}
.canvas-size-42x42 {
  flex: 1 1 calc(100% / 42);
}
.canvas-size-43x43 {
  flex: 1 1 calc(100% / 43);
}
.canvas-size-44x44 {
  flex: 1 1 calc(100% / 44);
}
.canvas-size-45x45 {
  flex: 1 1 calc(100% / 45);
}
.canvas-size-46x46 {
  flex: 1 1 calc(100% / 46);
}
.canvas-size-47x47 {
  flex: 1 1 calc(100% / 47);
}
.canvas-size-48x48 {
  flex: 1 1 calc(100% / 48);
}
.canvas-size-49x49 {
  flex: 1 1 calc(100% / 49);
}
.canvas-size-50x50 {
  flex: 1 1 calc(100% / 50);
}
.canvas-size-51x51 {
  flex: 1 1 calc(100% / 51);
}
.canvas-size-52x52 {
  flex: 1 1 calc(100% / 52);
}
.canvas-size-53x53 {
  flex: 1 1 calc(100% / 53);
}
.canvas-size-54x54 {
  flex: 1 1 calc(100% / 54);
}
.canvas-size-55x55 {
  flex: 1 1 calc(100% / 55);
}
.canvas-size-56x56 {
  flex: 1 1 calc(100% / 56);
}
.canvas-size-57x57 {
  flex: 1 1 calc(100% / 57);
}
.canvas-size-58x58 {
  flex: 1 1 calc(100% / 58);
}
.canvas-size-59x59 {
  flex: 1 1 calc(100% / 59);
}
.canvas-size-60x60 {
  flex: 1 1 calc(100% / 60);
}
.canvas-size-61x61 {
  flex: 1 1 calc(100% / 61);
}
.canvas-size-62x62 {
  flex: 1 1 calc(100% / 62);
}
.canvas-size-63x63 {
  flex: 1 1 calc(100% / 63);
}
.canvas-size-64x64 {
  flex: 1 1 calc(100% / 64);
}
